@import 'tailwindcss';
@plugin '@tailwindcss/typography';


/* Adding more color steps */
@theme {
    --color-stone-150: oklch(0.9465 0.002 77.571);
    --color-stone-250: oklch(0.896 0.004 52.542);
    --color-stone-350: oklch(0.789 0.0075 56.313);
    --color-stone-450: oklch(0.631 0.0115 57.165);
    --color-stone-550: oklch(0.4985 0.012 65.855);
    --color-stone-650: oklch(0.409 0.0105 70.599);
    --color-stone-750: oklch(0.321 0.0085 50.928);
    --color-stone-850: oklch(0.242 0.0065 45.171);
}